dn: cn=dev,ou=people,dc={{ openldap_server_domain_name.split('.')[0] }},dc={{ openldap_server_domain_name.split('.')[1] }}
objectclass: inetOrgPerson
objectclass: organizationalPerson
objectclass: person
objectclass: top
cn: dev
description: Developer user
sn: dev
uid: dev-onuris-ldap
mail: dev-onuris-ldap@onuris-ldap.com
userpassword: LGMTvSqd3jB2NHkE

dn: cn=admin,ou=people,dc={{ openldap_server_domain_name.split('.')[0] }},dc={{ openldap_server_domain_name.split('.')[1] }}
objectclass: inetOrgPerson
objectclass: organizationalPerson
objectclass: person
objectclass: top
cn: admin
description: A admin user
sn: admin
uid: admin-onuris-ldap
mail: admin@onuris-ldap.com
userpassword: GRmVgs4uSst8F5xQ