dn: cn=config
changetype: modify
add: olcTLSCACertificateFile
olcTLSCACertificateFile: {{ openldap_certificates_path }}/ca.pem
-
replace: olcTLSCertificateFile
olcTLSCertificateFile: {{ openldap_certificates_path }}/server.pem
-
replace: olcTLSCertificateKeyFile
olcTLSCertificateKeyFile: {{ openldap_certificates_path }}/server_key2.pem